---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: 'Open Sans', sans-serif;
$base-font-size:   16px;
$base-font-weight: lighter;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    880px;

$on-palm:          600px;
$on-laptop:        800px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;

pre, code {
    background-color: #f4f4f4;
    border: 1px solid #e8e8e8;
    border-radius: 3px;
    font-size: 15px;
}
p > strong{
  font-weight: 600;
}
img{
  width: 100%;
}

.home .post-list > li {
    margin-bottom: 75px;
}
.highlight{
    margin-bottom: 30px;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: none;
}

body {
	line-height: normal;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	font-weight: lighter;
}
a{
	text-decoration: none;
	transition: color 0.4s ease-out 0s, background 0.4s ease-in 0s;
}
blockquote, q {
	quotes: none;
}
.clearfix:after, .readmore:after{
	clear: both;
	content: " ";
	height: 0;
	display: block;
}
h1, h2, h3, h4, h5, h6, h1 a{
	font-family: 'Lato', sans-serif;
	font-weight: normal;
}

h3{
    font-size: 50px;
    padding: 30px 0 20px;
    border-bottom: 1px solid #444;
    margin-bottom: 30px;
    text-transform: uppercase;
}
.post-content p{
  margin-bottom: 20px;
  line-height: 155%;
}
.categories{
  font-size: 12px;
  color: #999;
}

#disqus_thread{
	margin-top: 25px;
}
/*HEADER*/
.headshot{
	display: block;
	border-radius: 50%;
	margin: 0 auto 30px;
	width: 125px;
	height: 125px;
	border: 1px solid white;
}
body > header{
	background-color: rgba(23, 38, 52, 1);
    border-bottom: 1px solid white;
    box-shadow: 1px 1px 1px 1px #ccc;
    color: white;
    width: 100%;
    padding: 30px 0;
}

header .site-nav {
    float: none;
    line-height: 100%;
    width: 295px;
    margin: 0 auto;
}

#typedIntro h1{
	color: white;
    font-size: 3.8vw;
    font-weight: 300;
    margin: 0 0 15px;
    padding: 0;
    text-align: center;
    text-transform: uppercase;
}
body > header nav ul{
  list-style-type: none;
}
body > header nav ul li{
	float: left;
	text-align: center;
}
	header nav ul li a{
		color: white;
	    display: block;
	    font-family: "Lato",sans-serif;
	    font-weight: 300;
	    padding: 8px 16px;
	    font-size: 20px;
	    border-top: solid 2px transparent;
	}
	header nav ul li a:visited{
		color:white;
	}
	header nav ul li a:hover{
		color: #e53131;
		font-weight: 300;
		border-top: solid 2px #e53131;
		text-decoration: none;
	}

	header nav ul li:last-of-type a{
		float: left;
		width: 50%;
	}
body > header .fa{
	color: white;
	transition: color 0.4s ease-out 0s, background 0.4s ease-in 0s;
}
	body > header li a:hover .fa, .share-page li a:hover .fa{
		color: #e53131;
	}

.social-media-list li:nth-of-type(2) a span, .social-media-list li:nth-of-type(3) a span {
    font-size: 9px;
}

.fa-circle{
	color: #828282;
}

.PageNavigation {
  font-size: 14px;
  display: block;
  width: auto;
  overflow: hidden;
}

.PageNavigation a {
  display: block;
  width: 50%;
  float: left;
  margin: 1em 0;
  font-size: 16px;
}

.PageNavigation .next {
  text-align: right;
  float: right;
}

.share-page{
  width: 200px;
  margin: 0 auto;
}

.share-page ul{
  list-style-type: none;
}

.share-page .fa{
  color: #999;
}

.share-page li{
  float: left;
  width: 50px;
  text-align: center;
}

.readmore{
  float: left;
}
.post-content li {
    margin-left: 16px;
}
.post-content ul{
  margin-bottom: 10px;
}

.post-content ol li {
    padding: 5px 0;
}
ol {
    margin: 0 0 15px;
}



@media screen and (max-width: 595px) {
	body{
		font-size: 16px;
	}
	body > header {
	    padding: 15px 0;
	}
	.headshot{
		margin: 0 auto 15px;
		width: 75px;
		height: 75px;
	}
	#typedIntro h1{
	    font-size: 5.8vw;
	}

	header nav ul li a {
	    font-size: 16px;
	    padding: 8px 20px;
	}
}
