<header class="site-header">
  <div id="headerContain" class="wrapper">
    <div id="typedIntro">
      <h1>{DEVELOPER + TINKERER}</h1>
    </div>
    <nav id="mainNav" class="site-nav">
      <ul class="clearfix">
        <li><a href="https://yctercero.github.io/">Blog</a></li>
        <li><a href="http://www.yadayadacreative.com/" target="_blank">Portfolio</a></li>
        <li>
          <a href="https://github.com/yctercero" target="_blank"><i class="fa fa-github fa-lg"></i></a>
          <a href="https://www.linkedin.com/in/yaracreative" target="_blank"><i class="fa fa-linkedin fa-lg"></i></a>
        </li>
      </ul>
    </nav>      
  </div>
</header>
